.principal-ventas {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f0f0f0;
}

.cabezera-ventas {
    background-color: #9b2e2e;
    flex: 0 0 10%;
    display: grid;
    place-items: center;
    position: relative;

    h1 {
        position: absolute;
        color: white;
    }

    div {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        width: 250px;
        right: 30px;
        gap: 10px;
    }
}

.contenedor-reservas {
    position: fixed;
    overflow-y: auto;
    right: 11%;
    top: 10%;
    width: 16%;
    height: 30%;
    padding: 10px 0;
    background: #f7f6f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

    .contenedorXReserva {
        cursor: pointer;
        padding: 0 8px;
        border-radius: 5px;
        transition: all 0.5s ease;
        background: #c3c3c3;
        &:hover {
        color: #f5f6f7;
        background: #9b2e2e;
    }}
}

.contenido-ventas {
    width: 100%;
    height: 80%;

    .elementos {
        height: 50%;
        overflow-y: auto;

        .tabla-elementos {
            width: 100%;
            border-collapse: collapse;
        
            th, td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center;
            }
        
            th {
                background-color: #7d3c3c;
                color: white;
                text-align: center;
                width: 15%;
            }
        
            tbody tr:nth-child(odd) {
                background-color: #f9f9f9;
            }
        
            tbody tr td input {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
            }
        }
    }
    
    .detalles {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .titulos {
            background-color: #7d3c3c;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                flex: 1;
                color: white;
                text-align: center;
                margin-left: 70px;
            }

            label {
                margin-right: 30px;
                color: white;
                font-size: 1.2rem;
                text-align: center;
            }
        }

        .descripcion {
            width: 100%;
            height: 75%;
            margin-right: 15%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-evenly;
            font-size: 1.5rem;

            .linea {
                width: 15%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.piepagina-ventas {
    width: 100%;
    flex: 0 0 10%;
    display: grid;
    place-items: center;

    .botones {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .boton {
        font-size: 16px;
        padding: 12px;
        background: #7d3c3c;
        color: #fff;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        width: 200px;
        border: transparent;
        transition: 0.5s ease;
        &:hover {
            background-color: #9b2e2e;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.contenido-modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
}

.contenido-modal h2 {
    margin-top: 0;
}

.contenido-modal table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.contenido-modal table, .contenido-modal th, .contenido-modal td {
    border: 1px solid #ddd;
}

.contenido-modal th, .contenido-modal td {
    padding: 8px;
    text-align: left;
}