.principal-gerencia {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #f0f0f0;
}

.logos {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h1 {
        font-size: 2rem;
    }

    img {
        border-radius: 10px;
    }
}

.botones {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;

    .botonG {
        font-size: 1.2rem;
        padding: 20px;
        background: #7d3c3c;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
        width: 200px;
        border: transparent;
        transition: 0.5s ease;
        &:hover {
            background-color: #9b2e2e;
        }
    }
}