.principal-proveedores {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    background: #f0f0f0;
}

.cabezera-proveedores {
    background-color: #9b2e2e;
    width: 100%;
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        flex: 1;
        color: white;
        text-align: center;
    }

    button {
        margin-right: 10px;
    }
}

.contenido-proveedores {
    flex: 1;

    .tabla {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid;

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #7d3c3c;
            color: white;
            text-align: center;
            width: 15%;
        }

        tbody tr:nth-child(odd) {
            background-color: #f9f9f9;
        }

        tbody tr td {
            height: 40px;
            padding: 8px;
            box-sizing: border-box;
        }
    }
}