body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: 1px solid grey;
  border-radius: 8px;
  cursor: pointer;
  padding: 4px;
}

input {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 4px;
}

/* Eliminar flechas del scroll */
::-webkit-scrollbar-button {
  display: none;
}

/* Personalizar el scroll */
::-webkit-scrollbar {
  width: 8px; /* O el tamaño que desees para el scroll */
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* O el color que desees */
  border-radius: 10px;
}